<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Smart shopping</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <div class="container">
      <%- include partials/navbar -%>
      <%- body -%>
      <%- include partials/footer -%>
    </div> <!-- /container -->
  </body>
</html>
