<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/test-result" method="GET">
    <label for="name">Name: </label>
    <input type="text" name="name">
    <label for="email">Email: </label>
    <input type="email" name="email">
    <button type="submit">Summit</button>
  </form>
</body>
</html>