<%- layout('layout') -%>

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <div class="thumbnail">
            <img src="<%= product.image %>" alt="thumbnail" />
        </div>
      </div>
      <div class="col-md-6">
          <div class="thumbnail">
              <h3><%= product.name %></h3>
              <p>Price: <%= product.price %>$</p>
          </div>
      </div>
  </div>
</div>