<%- layout('boilerplace') -%>

  <h1>Shop smart, save big</h1>

  <p>Starting point to create something more unique</p>

  <p>Singup to start Buying</p>
  <h3>Start your search here</h3>

  <p>Our prices are some of the best on the web</p>

  <h3>Look for smart items?</h3>
  <p>These will be appear across the site as you add to your cart</p>

  <h3>Build a smart cart</h3>
  <p>The more smart items you buy together, the more you save :)</p>