<%- layout('layout') -%>
  <div class="jumbotron" id="nav-gap">
    <div class="container">
      <h1>Shop smart, save big</h1>
      <p>Starting point to create something more unique</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a>
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Start your search here</h3>
        <p>Singup to start Buying</p>
      </div>
      <div class="col-md-4">
        <h3>Look for smart items?</h3>
        <p>These will be appear across the site as you add to your cart</p>
      </div>
      <div class="col-md-4">
        <h3>Build a smart cart</h3>
        <p>The more smart items you buy together, the more you save :)</p>
      </div>
    </div>
  </div>
  <!-- /container -->